.Container {
  position: absolute;
  background-color: aliceblue;
  height: 50rem;
  width: 50rem;
  left: 35rem;
  border-radius: 15px;
  h1 {
    position: relative;
    text-align: center;
    font-weight: 300px;
    font-size: 4rem;
    top: 4rem;
  }
  form {
    position: relative;
    padding: 10rem;
    align-items: center;
  }
}
