$color-primary: #564d94;

$color-black: #000;
$color-white: #fff;

$color-primary-light-1: #9a94bf;
$color-primary-light-2: #dddbea;

$color-primary-dark-1: #3c3668;
<<<<<<< HEAD
=======
$color-primary-dark-2: #2b274a;
>>>>>>> feature/master-layout
