@import './variable';
.mr-5 {
  margin-right: 0.5rem;
}

.mt-10 {
  margin-top: 1rem;
  background-color: #564d94;
}

.row {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.box {
  background-color: $color-primary-light-2;
  margin: 20rem auto 0 auto;
  border-radius: 15px;
  // padding: 4rem 2rem;
  padding: 3rem !important;
  width: 60rem;
  height: 60rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  .form {
    padding-top: 1rem !important;
    &__item {
      &__ip {
        margin-bottom: 1.5rem;
        border: 1px solid #ebedf2;
        width: 54rem;
        height: 5.08rem;
      }
    }
    &__button {
      width: 54rem;
      height: 5.08rem;
      background: #564d94;
    }
  }
}

.heading {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: start;
  color: #564d94;
  text-shadow: 0 0.2rem 0.4rem $color-primary-light-1;

  &--secondary {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.4rem;
  }

  &--sub {
    font-size: 1.4rem;
    font-weight: 300;
  }
}
